
.green {
    color: #97D3C7;
}


.order-steps{
    margin-bottom: 0px;
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
}
.order-subject{
    margin-bottom: 0px;
    margin-top: 30px;
    text-align: center;
    font-size: 12px;
}

a.navbutton{
  margin-top: 40px;
  display: inline-block;
  text-decoration:none;
  color: #fff;
  background-color:#97D3C7;
  border:1px solid #787887;
  padding: 7px 15px 5px 15px;
  letter-spacing: 1.5px;
  font-size: 14px;
  margin-bottom: 20px;
  cursor: pointer;
}

