{% extends 'base.html' %}


{% block content %}

    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% else %}
    <table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="row">id</th>
      <td>{{order.id}}</td>
    </tr>
    <tr>
      <th scope="row">hair type</th>
      <td>{{order.getHairType}}</td>
    </tr>
    <tr>
      <th scope="row">hair structure</th>
      <td>{{order.getHairStructure}}</td>
    </tr>
    <tr>
      <th scope="row">Scalp Moisture</th>
      <td>{{order.getScalpMoisture}}</td>
    </tr>
    <tr>
      <th scope="row">goals</th>
      <td>{{order.getGoals}}</td>
    </tr>
    <tr>
      <th scope="row">fragrance</th>
      <td>{{order.getFragrance}}</td>
    </tr>
    <tr>
      <th scope="row">fragrance_strength</th>
      <td>{{order.getFragranceStrength | safe}}</td>
    </tr>
    <tr>
      <th scope="row">shampoo_color</th>
      <td>{{order.getShampooColor}}</td>
    </tr>
    <tr>
      <th scope="row">shampoo_size</th>
      <td>{{order.getSampooSize}}</td>
    </tr>
    <tr>
      <th scope="row">conditioner_size</th>
      <td>{{order.getConditionerSize}}</td>
    </tr>
    <tr>
      <th scope="row">formula_name</th>
      <td>{{order.formula_name}}</td>
    </tr>
    <tr>
      <th scope="row">create user</th>
      <td>{{order.create_user}}</td>
    </tr>
    <tr>
      <th scope="row">create date</th>
      <td>{{order.create_date}}</td>
    </tr>
  </tbody>
</table>
    {% endif %}


<div align="center">
    <a class="btn btn-primary" href="{% url 'orderlist' %}" role="button">Return</a>
</div>
{% endblock %}
