{% extends 'base.html' %}
{% load i18n %}

{% load staticfiles %}

{% block content %}

    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% else %}
    <table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="row">id</th>
      <td>{{order.id}}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "HairType"%}</th>
      <td>{{order.getHairType}}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "HairStructure"%}</th>
      <td>{{order.getHairStructure}}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "ScalpMoisture"%}</th>
      <td>{{order.getScalpMoisture}}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Goals"%}</th>
      <td>{{order.getGoals}}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Fragrance"%}</th>
      <td>{{order.getFragrance}}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "FragranceStrength"%}</th>
      <td>{{order.getFragranceStrength | safe}}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "ShampooColor"%}</th>
      <td>{{order.getShampooColor}}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "ShampooSize"%}</th>
      <td>{{order.getSampooSize}}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "ConditionerSize"%}</th>
      <td>{{order.getConditionerSize}}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "FormulaName"%}</th>
      <td>{{order.formula_name}}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "CreateUser"%}</th>
      <td>{{order.create_user}}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "CreateDate"%}</th>
      <td>{{order.create_date}}</td>
    </tr>
  </tbody>
</table>
    {% endif %}


<div align="center">
    <a class="btn btn-primary" href="{% url 'orderlist' %}" role="button">Return</a>
</div>
{% endblock %}
