{% extends 'base.html' %}
{% load i18n %}

{% load staticfiles %}

{% block breadcrumb %}
<li class="breadcrumb-item active">orders</li>
{% endblock %}

{% block content %}

<script type="text/javascript">

    function fdownload(){
        location = "{% url 'downloadOrders' %}"
    }

    function deleteOrder(){
      return confirm("confirm to delete the order?")
    }

</script>
  <table class="table table-bordered">
    <thead >
      <tr>
        <th>order info</th>
        <th>{% trans "CreateUser"%}</th>
        <th>{% trans "Goals"%}</th>
        <th>{% trans "CreateDate"%}</th>
        <th>operation</th>
      </tr>
    </thead>
    <tbody>
      {% for order in order_list %}
        <tr>
          <td>
              {{ order }}
          </td>
          <td class="align-middle">{{ order.create_user }}</td>
          <td class="align-middle">{{ order.getGoals }}</td>
            <td class="align-middle">{{ order.create_date }}</td>
            <td class="align-middle">
          {%    if user.is_superuser %}
              <a href="{% url 'deleteorder' order.pk %}" onclick="return deleteOrder()">delete</a>  &nbsp;|
            &nbsp;
          {%    endif %}
              <a href="{% url 'orderdetail' order.pk %}">view</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
    <div style="text-align:right">
        <p><a href="#" class="text-white bg-dark" onclick="fdownload()" target="_blank">{% trans "DownloadOrders"%}</a></p>
    </div>
{% endblock %}