{% extends 'base.html' %}


{% block breadcrumb %}
<li class="breadcrumb-item active">orders</li>
{% endblock %}

{% block content %}
  <table class="table table-bordered">
    <thead >
      <tr>
        <th>order info</th>
        <th>create_user</th>
        <th>goals</th>
        <th>create_date</th>
        <th>operation</th>
      </tr>
    </thead>
    <tbody>
      {% for order in order_list %}
        <tr>
          <td>
              {{ order }}
          </td>
          <td class="align-middle">{{ order.create_user }}</td>
          <td class="align-middle">{{ order.getGoals }}</td>
            <td class="align-middle">{{ order.create_date }}</td>
            <td class="align-middle">
          {%    if user.is_superuser %}
              <a href="{% url 'deleteorder' order.pk %}">delete</a>  &nbsp;|
            &nbsp;
          {%    endif %}
              <a href="{% url 'orderdetail' order.pk %}">view</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}