{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}


<script type="text/javascript">
$(function() {
    $("#pid_div").find("a").bind(
        "click",function(){
            if($("#"+this.id).hasClass("active")){
                $("#"+this.id).removeClass("active")
                $("#"+this.id).removeClass("btn-outline-success")
                $("#"+this.id).addClass("btn-outline-info")
            }
            else{
                $("#"+this.id).addClass("active")
                $("#"+this.id).removeClass("btn-outline-info")
                $("#"+this.id).addClass("btn-outline-success")
            }
        }
    );

    if($("#id_goals").val().length>0){
        goals = $("#id_goals").val().split("|")
        for(i=0;i<goals.length;i++){
            $("#"+goals[i].replace(/\s/g,"_")).click()
        }
    }

});

function fnext(){
    var selected = 0
    var selectedGoals = ""
    var goals = $("#pid_div").find("a");
    for(i=0;i<goals.length;i++){
        if($("#"+goals[i].id).hasClass("active")){
            if(selectedGoals.length>0)
                selectedGoals += "|"
            selected += 1
            selectedGoals += goals[i].id
        }
    }
    if(selected ==0){
        alert("please choose at least 1 goal")
        return
    }
    if(selected >3){
        alert("you chose more than 3 goals")
        return
    }
    $("#id_goals").val(selectedGoals)
    $("#id_nextorderpage").val("order3")
    $("#form1").submit()
}
function fback(){
    $("#id_nextorderpage").val("order1")
    $("#form1").submit()
}
</script>

<form method="post" id="form1">
    {% csrf_token %}
    {% for field in form.hidden_fields %}
        <!--{% if field.errors %}-->
            <!--{{ field.label }}-->
            <!--{{ field.errors }}-->
        <!--{% endif %}-->
        {{ field }}
    {% endfor %}

</form>

<div class="order-steps green">HAIR QUIZ <sup>2/4</sup></div>

<h1 style="margin-bottom: 30px;">Select at most 3 goals</h1>
<br>
<div class="container-fluid" id="pid_div">
    <a class="btn btn-outline-info" href="#" role="button" id="deep_condition">{% trans "deep condition" context "goals" %}</a> &nbsp;&nbsp;
    <a class="btn btn-outline-info" href="#" role="button" id="replenish_hair">{% trans "replenish hair" context "goals" %}</a>&nbsp;&nbsp;
    <a class="btn btn-outline-info" href="#" role="button" id="fix_split_ends">{% trans "fix split ends" context "goals" %}</a>&nbsp;&nbsp;
    <a class="btn btn-outline-info" href="#" role="button" id="strengthen">{% trans "strengthen" context "goals" %}</a>&nbsp;&nbsp;
    <a class="btn btn-outline-info" href="#" role="button" id="hydrate">{% trans "hydrate" context "goals" %}</a>&nbsp;&nbsp;
    <a class="btn btn-outline-info" href="#" role="button" id="volumize">{% trans "volumize" context "goals" %}</a>&nbsp;&nbsp;
    <a class="btn btn-outline-info" href="#" role="button" id="color_protection">{% trans "color protection" context "goals" %}</a>&nbsp;&nbsp;
    <a class="btn btn-outline-info" href="#" role="button" id="thermal_protection">{% trans "thermal protection" context "goals" %}</a>&nbsp;&nbsp;
    <a class="btn btn-outline-info" href="#" role="button" id="anti-aging">{% trans "anti-aging" context "goals" %}</a>&nbsp;&nbsp;
    <a class="btn btn-outline-info" href="#" role="button" id="anti-frizz">{% trans "anti-frizz" context "goals" %}</a>&nbsp;&nbsp;
    <a class="btn btn-outline-info" href="#" role="button" id="curl_definition">{% trans "curl definition" context "goals" %}</a>&nbsp;&nbsp;
    <a class="btn btn-outline-info" href="#" role="button" id="shine">{% trans "shine" context "goals" %}shine</a>&nbsp;&nbsp;
    <a class="btn btn-outline-info" href="#" role="button" id="straighten">{% trans "straighten" context "goals" %}</a>&nbsp;&nbsp;
    <a class="btn btn-outline-info" href="#" role="button" id="nourish_roots">{% trans "nourish roots" context "goals" %}</a>&nbsp;&nbsp;
    <a class="btn btn-outline-info" href="#" role="button" id="soothe_scalp">{% trans "soothe scalp" context "goals" %}</a>&nbsp;
    <a class="btn btn-outline-info" href="#" role="button" id="oil_control">{% trans "oil control" context "goals" %}</a>
</div>

<div align="center">
    <button type="button" class="btn btn-primary btn-lg" onclick="fback()">{% trans "Previous"%}</button>
    <button type="button" class="btn btn-primary btn-lg" onclick="fnext()">{% trans "Continue"%}</button>
</div>



{% endblock %}
