{% extends 'base.html' %}
{% load i18n %}

{% load staticfiles %}

{% block content %}

<script type="text/javascript">

    var hair_type_sid,hair_structure_sid,scalp_moisture_sid
    function setHairType(sid){
        if(sid == hair_type_sid)
            return;
        if($("#"+hair_type_sid).hasClass("bg-selected")){
            $("#"+hair_type_sid).removeClass("bg-selected")
        }
        $("#"+sid).addClass(" bg-selected ")
        hair_type_sid = sid
    }
    function setHairStructure(sid){
        if(sid == hair_structure_sid)
            return;
        if($("#"+hair_structure_sid).hasClass("bg-selected")){
            $("#"+hair_structure_sid).removeClass("bg-selected")
        }
        $("#"+sid).addClass(" bg-selected ")
        hair_structure_sid = sid
    }
    function setScalpMoisture(sid){
        if(sid == scalp_moisture_sid)
            return;
        if($("#"+scalp_moisture_sid).hasClass("bg-selected")){
            $("#"+scalp_moisture_sid).removeClass("bg-selected")
        }
        $("#"+sid).addClass(" bg-selected ")
        scalp_moisture_sid = sid
    }

    function fnext(){
        if($("#"+hair_type_sid).length==0 || $("#"+hair_structure_sid).length==0 || $("#"+scalp_moisture_sid).length==0 ){
            alert('please make choice')
            return;
        }
        $("#id_hair_type").val(hair_type_sid.substring(3))
        $("#id_hair_structure").val(hair_structure_sid.substring(3))
        $("#id_scalp_moisture").val(scalp_moisture_sid.substring(3))
        $("#id_nextorderpage").val("order2")
        $("#form1").submit()
    }

$(function() {
    if ($("#id_hair_type").val().length>0){
        setHairType("ht_"+$("#id_hair_type").val())
    }
    if ($("#id_hair_structure").length>0){
        setHairStructure("hs_"+$("#id_hair_structure").val())
    }
    if ($("#id_scalp_moisture").length>0){
        setScalpMoisture("sm_"+$("#id_scalp_moisture").val())
    }
  });

</script>

<form method="post" id="form1">
    {% csrf_token %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}

</form>

<div class="order-steps green">HAIR QUIZ <sup>1/4</sup></div>


<table class="table" style="border-style:none;">
    <tbody>

    <tr>
        <td colspan="3" align="center">{% trans "HairType"%}</td>
    </tr>
    <tr>
      <td  align="center">
          <div class="card" style="width: 9rem;" onclick="setHairType(this.id)" id="ht_1">
                <img class="card-img-top" src="{% static 'images/straight.svg' %}" >
                <div class="card-body">
                    <p class="card-text">{% trans "straight" context "hair type" %}</p>
                </div>
            </div>
      </td>
      <td  align="center">
            <div class="card" style="width: 9rem;" onclick="setHairType(this.id)" id="ht_2">
                <img class="card-img-top" src="{% static 'images/wavy.svg' %}" >
                <div class="card-body">
                    <p class="card-text">{% trans "wavy" context "hair type" %}</p>
                </div>
            </div>
      </td>
      <td  align="center">
            <div class="card" style="width: 9rem;" onclick="setHairType(this.id)" id="ht_3">
                <img class="card-img-top" src="{% static 'images/coily.svg' %}" >
                <div class="card-body">
                    <p class="card-text">{% trans "coily" context "hair type" %}</p>
                </div>
            </div>
      </td>
    </tr>
    <tr>
        <td colspan="3" align="center">{% trans "HairStructure"%}</td>
    </tr>
    <tr>
      <td  align="center">
          <div class="card" style="width: 9rem;" onclick="setHairStructure(this.id)" id="hs_1">
                <img class="card-img-top" src="{% static 'images/fine.svg' %}" >
                <div class="card-body">
                    <p class="card-text">{% trans "fine" context "hair structure" %}</p>
                </div>
            </div>
      </td>
      <td  align="center">
            <div class="card" style="width: 9rem;" onclick="setHairStructure(this.id)" id="hs_2">
                <img class="card-img-top" src="{% static 'images/medium.svg' %}" >
                <div class="card-body">
                    <p class="card-text">{% trans "medium" context "hair structure" %}</p>
                </div>
            </div>
      </td>
      <td  align="center">
            <div class="card" style="width: 9rem;" onclick="setHairStructure(this.id)" id="hs_3">
                <img class="card-img-top" src="{% static 'images/coarse.svg' %}" >
                <div class="card-body">
                    <p class="card-text">{% trans "coarse" context "hair structure" %}</p>
                </div>
            </div>
      </td>
    </tr>
    <tr>
        <td colspan="3" align="center">{% trans "ScalpMoisture"%}</td>
    </tr>
    <tr>
      <td  align="center">
          <div class="card" style="width: 9rem;" onclick="setScalpMoisture(this.id)" id="sm_1">
                <img class="card-img-top" src="{% static 'images/dry.svg' %}" >
                <div class="card-body">
                    <p class="card-text">{% trans "dry" context "scalp moisture" %}</p>
                </div>
            </div>
      </td>
      <td  align="center">
            <div class="card" style="width: 9rem;" onclick="setScalpMoisture(this.id)" id="sm_2">
                <img class="card-img-top" src="{% static 'images/normal.svg' %}" >
                <div class="card-body">
                    <p class="card-text">{% trans "normal" context "scalp moisture" %}</p>
                </div>
            </div>
      </td>
      <td  align="center">
            <div class="card" style="width: 9rem;" onclick="setScalpMoisture(this.id)" id="sm_3">
                <img class="card-img-top" src="{% static 'images/oily.svg' %}" >
                <div class="card-body">
                    <p class="card-text">{% trans "oily" context "scalp moisture" %}</p>
                </div>
            </div>
      </td>
    </tr>
  </tbody>
</table>


<div align="center">
    <a class="navbutton" onclick="fnext()">{% trans "Continue"%}</a>
</div>



{% endblock %}
